@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: spaceMono;
    src: url(../../public/Space_Mono/SpaceMono-Bold.ttf);
}

.bgCyan {
    background-color: hsl(185, 41%, 84%)
}

.spaceMono {
    font-family: spaceMono;
}

.bgDark {
   background-color: hsl(183, 100%, 15%);
}

.bgGray {
    background-color: hsl(189, 41%, 97%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grayTxt {
    color: hsl(186, 14%, 43%);
}

.grayerTxt {
    color: #00494d;
}

.primaryTxt {
    color: #26c0ab;
}

.bgPrimary {
    background-color: #26c0ab;
}

input:focus {
    outline:none
}
